body {
    background-color:cadetblue;
    position: relative;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    color: purple;
    text-align: center;
}

table {
    margin: 0 auto;
    border: solid 3px black;
    font-size: larger;
    background-color: white;
    width: 80%;
}

thead {
    background-color: blue;
    color: white;
}

tr {
    text-align: center;
}

td {
    border-top: solid 2px black;
    padding: 5px;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

.nav-bar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #333;
}

.nav-bar ul {
    padding: 0;
}

.nav-bar li {
    display: inline-block;
}

.nav-bar li:hover {
    background-color: #111;
}

.nav-bar a {
    display: block;
    padding: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
}


.code {
    font-family: monospace;
}